<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>Registration</title>
</head>
<body>
    <p>프로그램 가져오기</p>
    {% csrf_token %}
    {% for p in programs %}
        <p>pid : {{ p.id }} </p>
        <p>제목 : {{ p.title }} </p>
        <p>기관 : {{ p.agency }} </p>
        <form action = "/posts/programs/{{ p.id }}/" method="POST">
            <button id="{{ p.id }}" value="{{ p.id }}" onclick="post_programs(this.id)">
                {%if request.user in program.registered_users.all%}
                    <i id="heart" class="fas fa-heart"></i>
                {%else%}
                    <i id="heart" class="far fa-heart"></i>
                {%endif%}
            </button>
        </form>
    {% endfor %}
</body>
</html>